.element {
    max-width: 100%;
    margin-bottom: 20px;
    transition: 1s;
    cursor: pointer;
}

.element:hover {
    transform: scale(1.05);
}

.element-image {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover; 
}

.element h1 {
    font-size: 18px;
    font-weight: 600;
}

.element p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #adadad
}

.element span {
    font-weight: 600;
}