.header-content {
    width: 100vw;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    color: #555;
    background-color: white

}

.header-content h3 {
    font-size: 0.8rem;
    font-weight: normal;
}

.header-content .call {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-content .location {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media (max-width: 425px) {
    .header-content {
        padding: .5rem 1rem;
        
    }
}