
.purchase {
    height: auto;
    gap: 90px;
    margin: 40px 0;
    display: flex;
    justify-content: center;
}


.product-image {
    width: 550px;
    height: 800px;

    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.product-info-container {
    width: 550px;
    height: 800px;
    position: relative;
}

.product-info-container .title-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.product-info-container .title-container img {
    width: 10rem;
    height: auto;
    margin-bottom: 20px;
}

.product-info-container .title-container h1 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1rem;
    color: #555;
}

.product-info-container .title-container span {
    color: #9a9a9a;
    font-size: 1.2rem;


    font-weight: 200;
}

.description-container .individual-product-description {
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;

    line-height: 1.3rem;
    color: #555;

    margin-top: .5rem;

}

.description-container .standart-description {
    margin-top: 1rem;
}

.description-container .standart-description p {
    font-size: 1rem;
    font-weight: 200;
    line-height: .5rem;
    color: #555;
}


.care-instructions {
    margin-top: 15px;
}
.care-instructions h3 {
    font-size: 1rem;
    font-weight: 300;

}

.care-instructions ul {
    padding-left: 20px;
    padding-top: 5px;
}

.care-instructions li {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2rem;
    color: #555;
}

.product-info-container .dropdown {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    gap: 10px;
}

.product-info-container .label {
    font-size: 1rem;
    font-weight: 300;
}

.size-selector {
    margin: 1.25rem 0;
}

.label h1 {
    font-size: 1rem;
    font-weight: 400;
    color: #343333;
}

.label {
    font-size: 1.25rem;
    color: #343333;
}


.size-buttons {
    display: flex;
    gap: 0.6rem;
    margin-top: 0.9rem;
}

.size-button {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;

    border: 2px solid #ccc;
    background-color: #fff;

    cursor: pointer;
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 0.7rem;
    font-weight: 300;
    transition: background-color 0.3s, border-color 0.3s;

    color: #343333;
}

.size-button:hover {
    background-color: white;
    border-color: #fd438e;
}

.size-button.selected {
    background-color: #fd438e;
    color: white;
}


/* .dropdown select {
    width: 25rem;

} */

.quantity-container {
    margin-top: 20px;

    display: flex;
    flex-direction: row;

    height: 60px;

}

.quantity-container .set-quantity {
    all: unset;
    width: 4rem;
    height: 100%;

    cursor: pointer;

    border: 2px solid #ccc;
    background-color: white;


    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.quantity-display {
    width: 4rem;
    height: 4rem;

    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    border-right-width: 0;
    border-left-width: 0;
    border-style: solid;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #333;
}

.buy-button {
    width: 25rem;
    height: 5rem;

    border-radius: 5px;
    background-color: #fd438e;
    border: none;

    color: white;
    font-size: 1rem;

    cursor: pointer;

    position: absolute;
    bottom: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 999;
}

.modal-box {
    background: white;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    animation: scaleIn 0.3s ease-in-out;
}


@media(max-width: 1440px) {
    .product-image {
        width: 500px;
        height: 700px;
    }
    
    .product-info-container {
        height: 700px;
    }
}

@media(max-width: 1024px) {

    .purchase {
        padding: 0 50px;
    }
     
    .product-image {
        width: 370px;
        height: 650px;
    }
    
    .product-info-container {
        height: 650px;
    }

    .quantity-display {
        width: 4rem;
        height: 4.55rem;
    }

    .product-info-container .title-container img {
        width: 8rem;
        margin-bottom: 10px;
    }
    
    .product-info-container .title-container h1 {
        font-size: 1.3rem;
    }
    
    .product-info-container .title-container span {
        font-size: 1.1rem;
    }

    .description-container .individual-product-description {
        font-size: .9rem; 
        line-height: 1.3rem;
        margin-top: .5rem;
    }
    
    .description-container .standart-description {
        margin-top: 1rem;
    }
    
    .description-container .standart-description p {
        font-size: .9rem;
        line-height: 0.9rem;
    }
    
    .care-instructions {
        margin-top: 15px;
    }

    .care-instructions h3 {
        font-size: .9rem;
    }
        
    .care-instructions li {
        font-size: .8rem;
        line-height: 1.2rem;

    }

    .product-info-container .dropdown {
        display: flex;
        flex-direction: column;
    }
    
    .product-info-container .label {
        font-size: 1rem;
        font-weight: 300;
    }

    .label {
        display: flex;
        gap: 10px;
    }
    
    .label h1{
        font-size: .8rem;
        font-weight: 400;
        color: #343333;
    }
    
    .label span {
        font-size: 0.7rem;
        font-style: italic;
        opacity: 0.5;
    }
    
    .size-buttons {
        display: flex;
        gap: 0.3rem;
        margin-top: 0.4rem;

    }
    
    .size-button {
        width: 3rem;
        height: 3rem;
        font-size: 0.7rem;

    }
    
  
    .dropdown select {
        width: 90%;
        height: 2.5rem;
        font-size: .8rem;

    }
    
    .quantity-container {
        height: 40px;
        margin-top: 10px;
    
    }
    
    .quantity-container .set-quantity {
        width: 40px;
        height: 100%;
    }
    
    .quantity-display {
        width: 40px;
        height: 44px;
    
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-top-color: #ccc;
        border-bottom-color: #ccc;
        border-right-width: 0;
        border-left-width: 0;
        border-style: solid;
    
        background-color: white;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: #333;
    }
    
    .buy-button {
        width: 90%;
        height: 3.5rem;
    }
    
    
}

@media(max-width: 480px) {
    .purchase {
        margin: 0;
        padding: 0;
        display: block;
    }
    
    .product-image {
        width: 100%;
        height: 500px;
        border-radius: 0;
        margin-bottom: 30px;
    }

    .product-info-container {
        width: 100%;
        padding: 0 20px;
        height: auto;
    }

    .product-info-container .logo-orp {
        display: none;
    }

    .buy-button {
        width: 100%;
        height: 4rem;
    
    
        position: inherit;
        margin: 40px 0;

    }

    .size-selector {
        width: 100%;

    }
    
    
    .size-buttons {  
        display: flex;
        gap: .5rem;
        margin-top: 0.9rem;
    }
    
    .size-button {
        width: 4rem;
        height: 4rem;
        font-size: 0.7rem;
    }
       
    .dropdown select {
        width: 100%;
        height: 3.5rem;
    }
    
    
    .quantity-container .set-quantity{
        width: 3.6rem;
        height: 3.6rem;
    }

    .quantity-container .quantity-display {
        width: 3.6rem;
        height: 3.95rem;
    }


    
    .modal-box {
        width: 90% ;
    }
}

@media(max-width: 390px) {
    .size-button {
        width: 3.5rem;
        height: 3.5rem;

    }

    .size-buttons {
        gap: .3rem;
    }
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scaleIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}




