
.footer {
    background-color: #fd438e;
    color: white;
    padding: 0.6rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    margin-top: 10px;
  } 
  
  .contact-icon {
    font-size: 2rem;
    color: white;
  }
  

  @media (max-width: 768px){
    .footer {
      padding: .5rem 1.2rem;
    }
  }