
.main-container {
    width: 100vw;
    min-height: 100vh;
    padding: 2.5rem 3rem;
}

.main-container .title-container {
    display: flex;
    margin: 0;
    
}

.main-container hr {
    width: 100%;    
    border: none;
    border-top: 0.5px solid #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-container .title-container h1 {

    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    font-style: italic;
    color: black;
}

.main-container .title-container h1 span {
    color: #fd438e;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
    gap: 20px; /* Espaçamento entre os produtos */
    margin-bottom: 40px;
}

@media(max-width: 1920px) {
    .main-container {
        padding: 40px;
    }
}

@media(max-width: 1600px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media(max-width: 1024px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media(max-width: 480px) {

    .main-container {
        padding: 3rem 1rem;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }

    .main-container .title-container h1 {
        font-size: 15px;
    }

    .main-container .title-container h1 span {
        color: #fd438e;
    }



}