* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

p {
    color: #333333;
}