/* Navbar transparente apenas na Home */
.transparent-nav {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}

.transparent-nav:hover {
  background-color: white;
}

.transparent-nav:hover .menu-item a {
  color: #555;
}

.transparent-nav:hover .menu-item a:hover {
  color: #fd438e;
  text-decoration: underline;
}

.transparent-nav:hover .icon {
  color: #555;
}

/* Navbar sólida nas outras páginas */
.solid-nav {
  display: block;
  background-color: white;
}

.solid-nav .menu-item a {
  color: #555; 
}

.solid-nav .menu-item a:hover {
  color: #fd438e;
  text-decoration: underline;
}

.solid-nav .icon {
  color: #555;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.search-menu {
    list-style: none;
    display: flex;
    align-items: center; 
    gap: .9rem; 
    font-size: .9rem;
}

.menu-item {
    cursor: pointer;
}

.menu-item img {
    width: 15.6rem; 
    height: auto; 
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 2rem; 
}

.icon {
    font-size: 1.5rem;
    color: white;
}

.search-container-small {
    display: none; 
    width: 100%;
}

.hamburger-menu {
    position: relative;
}

.hamburger-icon {
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100vh; 
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 2000;
}

.sidebar.open {
  left: 0; 
  z-index: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
  color: #555;
}

.close-btn:hover {
  color: #fd438e;
}


.hamburger-icon {
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .search-container {
    top: 23px;
  }

    .search-menu {
        display: none; 
    }

    .search-container-small {
        display: flex; 
    }

    .icons-container {
        display: flex;
        align-items: center;
        gap: 2rem; 
    }

    .icon {
        font-size: 2rem;
        color: white;
    }
}
